<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b14e69b40b.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo" id="logo">
            <div class="search-bar">
                <input class="cajaBusqueda" type="search" name="buscador" id="cajaBusqueda" list="lista1" placeholder="Buscar productos, marcas" >
                <button class="cajaBusqueda"><i class="fas fa-search"></i></button>
            </div>
            <p class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> 
                ¡Compra en cuotas y sin tarjeta de crédito! 
            </p> 
        </div>
        
        <nav class="main-nav-bar">
            <ul id="siteNavBar">
                <li> <a href=""> Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
    
            <ul id="loginNavBar">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

            <datalist id="lista1">
                <option value="uno"></option>
                <option value="dos"></option>
                <option value="tres"></option>
            </datalist>
            
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>

    <main>
        <form form action="/" method="GET" class="login-form">
            <div class="control-formulario">
                <label for="nombreUsuario">Nombre de usuario: </label>
                <input type="text" name="nombreUsuario" class="control">
            </div>
            <div class="control-formulario">
                <label for="">Contraseña: </label>
                <input type="password" name="userPassword" class="control">
            </div>
            <button type="submit" class="form-button">Enviar</button>
        </form>
    </main>

    <footer>
        <div class="footer-flex">
            <div class="footerDiv">
                <div class="footerIcon"><i class="fas fa-credit-card"></i></div>
                <p class="footerTitle">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footerDiv">
                <div class="footerIcon"><i class="fas fa-gift"></i></div>
                <p class="footerTitle">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footerDiv">
                <div class="footerIcon"><i class="fas fa-user-shield"></i></div>
                <p class="footerTitle">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
</body>
</html>